  <form action="/form" method="post">
    <lable>Loan Amount</lable><br>
    <input type="number" namme='l_amout' value="10000"><br><br><br>

     <lable>First Name</lable><br>
    <input type="text" name='fname' value="muhe"><br><br><br>

     <lable>Second Name</lable><br>
    <input type="text" name='sname' value="sjnsjns"><br><br><br>

     <lable>Gender</lable><br>
    <input type="text" name='mgender' value="male"><br><br><br>
    <select name="gender">
    <option value="volvo">Volvo</option>
    <option value="saab">Saab</option>
    <option value="fiat">Fiat</option>
  </select>

     <lable>Mobile*</lable><br>
    <input type="tel" name='mobile' value="+916384982513"><br><br><br>

     <lable>Pincode</lable><br>
    <input type="number" name='pincode' value="622204"><br><br><br>

    <lable>PAN</lable><br>
    <input type="number" name='pab' value="62D22M04"><br><br><br>

     <lable>email</lable><br>
    <input type="email" name='email' value="muhe@gmail.com"><br><br><br>
    <lable>Date of Birth</lable><br>
    <input type="date" name='date' value="22/06/2023"><br><br><br>
    <input type='submit' value="submit">
  </form>