<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>login</title>
</head>
<body>
<h1> Register Account</h1>
  <form action="/tria-g-register" method="post">
    <lable>Phone Number</lable><br>
    <input type="tel" name='email'><br><br><br>
    <lable>password</lable><br>
    <input type="password" name='password'><br><br><br>
    <input type='submit' value="submit">
  </form>
</body>
  <style>
    body {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      justify-content: center;
      
    }
    lable {
      font-size: 28px;
    }
  </style>
</html>